<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UPLOAD THE FILE</title>
  </head>
  <body>
    <p style="position: absolute; right: 10px"><%= user.username %></p>
    <% if (user.username === "Guest") { %>
    <nav><a href="/register">Register</a> <a href="/login">Login</a></nav>

    <% } else { %>
    <a href="/logout">Logout</a>
    <div>
      <h1>Upload files</h1>
      <form action="/secrets" enctype="multipart/form-data" method="post">
        <input type="file" name="photos" />
        <textarea
          name="caption"
          id=""
          cols="90"
          rows="10"
          placeholder="Enter some message"
        ></textarea>

        <button type="submit" name="submit" value="postCreated">
          Submit The Image
        </button>
      </form>
    </div>
    <% } %> <% if (posts) { %>
    <h1>Uploaded Files</h1>
    <div>
      <% posts.forEach((image) => { %>
      <h3><%= image.username %></h3>
      <img
        src="data:image/<%=image.image.contentType%>;base64,<%=image.image.data.toString('base64')%>"
        width="300px"
        height="300px"
      />

      <p><%= image.caption %></p>

      <% }) %>
    </div>
    <% } %>
  </body>
</html>
